<.flash_group flash={@flash} />

<%= for cate <- @cates do %>
  <nav class="flex flex-col sm:flex-row">
    <%!-- <li> --%>
      <.navbar_link href={~p"/category/#{cate.name}"} text={cate.name} />
    <%!-- </li> --%>
    <p class="text-blue-700 hover:text-blue-500">Total posts:<%= length(cate |> Ecto.assoc(:posts) |> Twitter.Repo.all) %></p>
  </nav>
<% end %>